---
const { title } = Astro.props;

// import CSS Styles
import "../styles/style.css";
---

<title>{title}</title>

<html>
  <body class="leading-normal tracking-normal">
    <slot />
    <script src="../scripts/index.js"></script>
  </body>
</html>
